.exp-container {
  @apply text-brand-white bg-brand-red p-4;
}

/* About */
.about-img-box {
  position: relative;
  width: 15rem;
  height: 20rem;
  overflow: hidden;
}

.about-img-box img {
  object-fit: cover;
}

/* Projects */
.project-img-box {
  position: relative;
  width: 15rem;
  height: 20rem;
  overflow: hidden;
}

.project-img-box img {
  object-fit: cover;
}

.project-img-inner-offset {
  object-position: top;
}

.skill-box {
  @apply bg-brand-red p-2 text-brand-white text-2xl;
}
